// nextflow.config
manifest {
  name    = 'nextflow-cosine'
  author  = 'Tu Nombre'
  version = '1.0.0'
}

params {
  expr          = 'tests/test_expression.csv'
  method        = 'cosine'
  min_gene_mean = 0.0
  sample_cols   = 'auto'
  outdir        = 'results'
}

profiles {
  standard {
    process.executor = 'local'
  }

  docker {
    process.executor = 'local'
    docker.enabled   = true
  }

  conda {
    process.executor = 'local'
    conda.enabled    = true
  }

  test {
    process.executor = 'local'
    params.expr      = "tests/test_expression.csv"
    params.method    = 'cosine'
    params.outdir    = 'results_test'
  }
}

