// nextflow.config
manifest {
  name    = 'module_cosimflow '
  author  = 'Miguel'
  description = 'Custom module for filtering matrices in co-simulation workflows'
  version = '1.0.0'
  nextflowVersion = '!>=23.04.0'
}

params {
  expr          = 'tests/input/test_expression.csv'
  method        = 'cosine'
  min_gene_mean = 0.0
  sample_cols   = 'auto'
  outdir        = 'results'
  use_matrixfilter = false
}

profiles {
  standard {
    process.executor = 'local'
  }

  docker {
    process.executor = 'local'
    docker.enabled   = true
  }

  conda {
    process.executor = 'local'
    conda.enabled    = true
  }

  test {
    process.executor = 'local'
    params.expr      = "tests/input/test_expression.csv"
    params.method    = 'cosine'
    params.outdir    = 'results_test'
  }
}

